* {
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 100vh;
    height: 100vh;
    background: #D5E1EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container {

    width: 320px;
    height: 497px;
    background: #ffffff;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.img {
    padding-top: 16px;
    justify-content: center;
}


img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}


.text>h1 {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #1F314F;
    margin-top: 24px;
}

.text>h2 {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
    color: #7D889E;
    margin-top: 16px;
}